:root {
    --faded-white: #f3f3f3;
    --dark: #19191b;
    --didotFont: GFS Didot;
    --red-hover:rgb(197, 64, 64);
}

body {
    background-image: linear-gradient(to right, var(--faded-white) 49%,var(--dark) 50%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: var(--didotFont);
}

/**Helper classes to avoid duplicate styling :P */

/* Flex Top -> Bottom */
.vertical-flex {
    display: flex;
    flex-direction: column;
}

/* FLex Left -> Right */
.base-flex {
    display: flex;
}

/* Hacky vertical center */
.auto-vertical-margin {
    margin-top: auto;
    margin-bottom: auto;
}


.white-text{
    color:var(--faded-white);
    
}

.black-text {
    color:var(--dark);
}

/* Helper Classes End */

.wrapper {
    justify-content: space-evenly;
    height: 100vh;
}


/* Navigation Bar styling start */
.navigation-bar{
    padding-top: 3em;
    padding-bottom: 3em;
}

.navigation-bar-logo {
    width: 50%;
    padding-left: 3em;
    font-size: 24px;
}

.navigation-bar-links {
    width: 50%;
}

.navigation-bar-links ul {
    justify-content: space-evenly;
    color: var(--faded-white);
    padding-left: 0em;
    padding-right: 0em;
}

.navigation-bar-links li {
    list-style-type: none;
}

.navigation-bar-links li:hover {
    color: var(--red-hover);
    cursor: pointer;
}

/* Navigation Bar styling End */


/* main content styling start */
.main-content {
    flex-grow: 1;
    padding-top: 6em;
}

.main-content-side {
    justify-content: center;
}

.main-content-side p {
    transform: rotate(-90deg);
    text-align: top;
    padding-bottom: 3em;
}

.main-content-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr); /** 2 column grid */
    column-gap: 10px;
    padding-bottom: 8em;
}

.main-content-grid .main-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    font-size: 72px;
    padding-right: 4em;
}


 .main-content-grid .secondary-text {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    grid-row-start: 1;
    margin-top: 58px;
}

 .main-content-grid .secondary-text > div{
    display: inline-block;
    vertical-align: top;
}

 .main-content-grid .secondary-text .vertical-top {
    font-size: 56px;
}

.main-content-grid .secondary-text .vertical-top p {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: lowercase;
    font-style: italic;
}

 .main-content-grid .secondary-text .huge-text p {
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 118px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
 .main-content-grid .secondary-text .huge-text span > b {
    color:var(--dark);
}

 .main-content-grid .secondary-text .huge-text span {
    color:var(--faded-white);
}

.main-content-grid .secondary-text .huge-text .black-white-gradient{
    background: -webkit-linear-gradient(left,var(--dark) 25%, var(--faded-white) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

 .main-content-grid .small-text {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    color:var(--faded-white);
    padding-left: 200px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 175px;
} 

.main-content-grid .car-image{
    content: '';
    display: block;
    height: 90px;
    background: url("./red-car.svg") 0 0 no-repeat;
    background-size: contain;
    grid-row-start: 1;
    grid-column-start: 2;
    background-position: center left;
    z-index: 2;
    margin-left: 52px;
}

/* Footer styling start */

.footer {
    justify-content: space-between;
}


.footer .footer-links {
    flex-basis: 5%;
}

.footer .footer-links ul {
    list-style: none;
    padding-bottom: 2em;
}

.footer .footer-links ul li {
    margin-bottom: 16px;
}

.footer .footer-links ul li:hover {
    color: var(--red-hover);
}

.footer .footer-text {
    flex-basis: 60%;
    text-align: left;
  
}

.footer-text p {
    box-shadow: -4px 0px 0px 0px var(--dark);
    padding-left: 18px;
}

.footer .footer-text-info {
    justify-content: space-around;
    padding-left: 18px;
}

.footer-explore {
    align-items: center;
    margin-right: 24px;
    padding-bottom: 15px;
}

.footer-explore p {
    margin: 0px 8px;
    font-size: 24px;
}

 .footer-text-info .footer-text-info-personal {
    flex-basis: 50%;
    text-align: left;
}

/* footer styling end */
