body {
    background-image: linear-gradient(to right, #f2f6f7 49%,#19191b 50%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation-bar{
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;
}

.navigation-bar-logo {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    padding-left: 3em;
    font-size: 24px;
}

.navigation-bar-links {
    width: 50%;
}

.navigation-bar-links ul {
    display: flex;
    justify-content: space-evenly;
    color: #f2f6f7;
    padding-left: 0em;
    padding-right: 0em;
}

.navigation-bar-links li {
    list-style-type: none;
}

.navigation-bar-links li:hover {
    color: rgb(197, 64, 64);
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-grow: 1;
    padding-top: 6em;
}


/* main content side styling start */
.main-content .main-content-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
}

.main-content .main-content-side p {
    /* transform-origin: left, top; */
    transform: rotate(-90deg);
    text-align: top;
    padding-bottom: 3em;
}
/* main content side styling end */

/* main content middle styling start */
.main-content .main-content-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr); /** 2 column grid */
    column-gap: 10px;
    /* background-color: green; */
    padding-top:2em;
    padding-bottom:2em;
}

.main-content .main-content-grid .main-text {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    font-size: 72px;
    padding-right: 4em;
}

.main-content .main-content-grid .car-image{
    content: '';
    display: block;
    height: 90px;
    background: url("./red-car.svg") 0 0 no-repeat;
    background-size: contain;
    grid-row-start: 1;
    grid-column-start: 2;
    background-position: center left;
    z-index: -2;
    margin-left: 22px;
}

.main-content .main-content-grid .secondary-text {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    grid-row-start: 1;
    margin-top: 58px;
}

.main-content .main-content-grid .secondary-text > div{
    display: inline-block;
    vertical-align: top;
}

.main-content .main-content-grid .secondary-text .vertical-top {
    font-size: 56px;
}

.main-content .main-content-grid .secondary-text .vertical-top p {
    margin-bottom: 0;
    margin-top: 0;
    /* margin-right: 5px; */
    text-transform: lowercase;
    font-style: italic;
}

.main-content .main-content-grid .secondary-text .huge-text p {
    margin-bottom: 0;
    margin-top: 0px;
    /* margin-left: 40px; */
    font-size: 118px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.main-content .main-content-grid .secondary-text .huge-text span > b {
    color:black;
}

.main-content .main-content-grid .secondary-text .huge-text span {
    color:#f2f6f7;
}


.main-content .main-content-grid .small-text {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    color:#f2f6f7;
    padding-left: 200px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 175px;
} 

.white-text{
    color:#f2f6f7;
    
}

.black-text {
    color:#19191b;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.wrapper .footer {
    display: flex;
    justify-content: space-between;
}

.wrapper .footer > * {
    /* flex-grow: 1; */
}

.wrapper .footer .footer-links {
    flex-basis: 5%;
}

.wrapper .footer .footer-links ul {
    list-style: none;
    padding-bottom: 2em;
}

.wrapper .footer .footer-links ul li {
    margin-bottom: 16px;
}

.wrapper .footer .footer-links ul li:hover {
    color: rgb(197, 64, 64);
}

.wrapper .footer .footer-text {
    flex-basis: 60%;
    text-align: left;
  
}

.footer-text p {
    /* border-left: 2px solid grey; */
    box-shadow: -4px 0px 0px 0px #19191b;
    /* outline: 4px solid red;
  outline-offset: 30px; */
    padding-left: 18px;
}

.wrapper .footer .footer-text-info {
    display: flex;
    justify-content: space-around;
    padding-left: 18px;
}

.footer-explore {
    display:  flex;
    align-items: center;
    margin-right: 24px;
    padding-bottom: 15px;
}

.footer-explore p {
    margin: 0px 8px;
    font-size: 24px;
}

.wrapper .footer .footer-text-info .footer-text-info-personal {
    flex-basis: 50%;
    text-align: left;
}









.main-content .main-content-grid .secondary-text .huge-text .black-white-gradient{
    background: -webkit-linear-gradient(left,black 25%, white 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
